{% extends 'adminbase/base.html' %}
{% load static %}
{% block pagetitle %}Dashboard{% endblock pagetitle %}

{% block custom_css %}
{% endblock custom_css %}


{% block mainContent %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        {% if user.is_superuser %}
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-user-secret"></i>
                                            </div>
                                            <div class="text">
                                                <h2><a data-toggle="modal" data-target=".bd-example-modal-lg">{{total_admin}}</a></h2>
                                                <span>Admin</span>
                                            </div>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{total_dis}}</h2>
                                                <span>Distributers</span>
                                            </div>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{total_user}}</h2>
                                                <span>Users</span>
                                            </div>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Users Request</h2>
                                <div class="au-card au-card--bg-c3 au-card-top-countries m-b-40">

                                    {% if messages %}
                                    {% for m in messages %}
                                        {% if m.tags == 'success' %}
                                        <div style="display: block;" class="alert alert-success alert-dismissible fade show" role="alert" id="remove_alert">
                                        <strong>Great!</strong> {{m}}
                                        <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% else %}
                                        <div style="display: block;" class="alert alert-danger alert-dismissible fade show" role="alert" id="remove_alert">
                                        <strong>Upps!</strong> {{m}}
                                        <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                    <div class="au-card-inner">
                                        <div class="table-responsive">
                                            <table class="table table-top-countries">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Created By</th>
                                                        <th>User Name</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Name</th>
                                                        <!-- <th>Gender</th> -->
                                                        <th>Date Joined</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody> 
                                                    {% if userlist %}
                                                        {% for userss in userlist %}
                                                        <tr>
                                                            <td style="color: gray;">{{forloop.counter}}</td>        
                                                            
                                                            <td style="color: gray;">{{userss.created_by}}</td>
                                                            <td style="color: gray;">{{userss.username}}</td>
                                                            <td style="color: gray;">{{userss.email}}</td>
                                                            <td style="color: gray;">{{userss.phone}}</td>
                                                            <td style="color: gray;">{{userss.first_name}} {{userss.last_name}}</td>
        
                                                            <!-- <td style="color: gray;">{{userss.gender}}</td> -->
        
                                                            <td style="color: gray;">{{userss.date_joined|date:'d-m-Y g:i A'}}</td>
        
                                                            <td>
                                                                <a href="{% url 'approve-user' %}?id={{userss.id}}" style="padding: 5px;"><button class="btn btn-sm btn-success"><i class="fa fa-check"></i></button></a> 
                                                                <a href="{% url 'decline-user' %}?id={{userss.id}}" style="padding: 5px;"><button class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button></a> 
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                    <tr><td colspan="8" style="text-align: center; font-size: 15px;color: gray;">No Data Found</td></tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if user.is_staff and not user.is_superuser %}
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Old Documents Assigned To You</h2>
                                <div class="au-card au-card--bg-c3 au-card-top-countries m-b-40">
                                    <div class="au-card-inner">
                                        {% if btndisable %}<span style="color: red;font-weight: 600;">*Your daily download limit is over.</span>{% endif %}
                                        <form method="POST" action="{% url 'share-multiple-doc' %}">
                                        {% csrf_token %}
                                        <div class="mt-2 mb-2">
                                            <button class="btn btn-md btn-success">Share</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-top-countries" id="tableID">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Select</th>
                                                        <th>Document Number</th>
                                                        <!-- <th>Download</th> -->
                                                        <th>Date/Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if pdfList %}
                                                    {% for share in pdfList %}
                                                        <tr>
                                                            <td style="color: grey;">{{forloop.counter}}</td>

                                                            {% if share.is_downloaded %}
                                                                <td style="color: grey;"><input type="checkbox" name="doc{{share.id}}" value="{{share.id}}"></td>
                                                            {% else %}
                                                                <td style="color: grey;"><input type="checkbox" name="doc{{share.id}}" value="{{share.id}}" disabled></td>
                                                            {% endif %}

                                                            {% if cardData %}
                                                            {% for data in cardData %}
                                                                {% if share.document_id == data.id %}
                                                                    <td style="color: grey;">{{data.serial_number}}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% endif %}

                                                            
                                                            <td style="color: grey;">{{share.created_at|date:'d-m-Y g:i A'}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                        </form>

                                        {% if pdfList.has_other_pages %}
                                        <hr style="padding-bottom: 4px; background-color: brown;" />
                                        <div class="page" style="margin-right: 20px;">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-end">
                                                    {% if not pdfList.has_previous %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ pdfList.previous_page_number }}" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% endif %}

                                                    {% if pdfList.number|add:'-4' > 1 %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ pdfList.number|add:'-5' }}">&hellip;</a></li>
                                                    {% endif %}

                                                    {% for i in pdfList.paginator.page_range %}
                                                        {% if pdfList.number == i %}
                                                            <li class="page-item active" aria-current="page">
                                                        <span class="page-link">
                                                            {{ i }}
                                                            <span class="sr-only">(current)</span>
                                                        </span>
                                                        </li>
                                                        {% elif i > pdfList.number|add:'-5' and i < pdfList.number|add:'5' %}
                                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if pdfList.paginator.num_pages > pdfList.number|add:'4' %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ pdfList.number|add:'5' }}">&hellip;</a></li>
                                                    {% endif %}

                                                    {% if pdfList.has_next %}
                                                    <li class="page-item">
                                                    <a class="page-link" href="?page={{ pdfList.next_page_number }}">Next</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="+1">Next</a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">New Documents Assigned To You</h2>
                                <div class="au-card au-card--bg-c3 au-card-top-countries m-b-40">
                                    <div class="au-card-inner">
                                        {% if btndisable %}<span style="color: red;font-weight: 600;">*Your daily download limit is over.</span>{% endif %}
                                        <form method="POST" action="{% url 'share-new-multiple-doc' %}">
                                            {% csrf_token %}
                                            <div class="mt-2 mb-2">
                                                <button class="btn btn-md btn-success">Share</button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-top-countries" id="tableID">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Select</th>
                                                            
                                                            <th>Date/Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if pdfListNew %}
                                                        {% for share in pdfListNew %}
                                                            <tr>
                                                                <td style="color: grey;">{{forloop.counter}}</td>
    
                                                                {% if share.is_downloaded %}
                                                                    <td style="color: grey;"><input type="checkbox" name="doc{{share.id}}" value="{{share.id}}"></td>
                                                                {% else %}
                                                                    <td style="color: grey;"><input type="checkbox" name="doc{{share.id}}" value="{{share.id}}" disabled></td>
                                                                {% endif %}
    
                                                                <td style="color: grey;">{{share.created_at|date:'d-m-Y g:i A'}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            </form>

                                        {% if pdfListNew.has_other_pages %}
                                        <hr style="padding-bottom: 4px; background-color: brown;" />
                                        <div class="page" style="margin-right: 20px;">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-end">
                                                    {% if not pdfListNew.has_previous %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?pageNew={{ pdfListNew.previous_page_number }}" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% endif %}

                                                    {% if pdfListNew.number|add:'-4' > 1 %}
                                                        <li class="page-item"><a class="page-link" href="?pageNew={{ pdfListNew.number|add:'-5' }}">&hellip;</a></li>
                                                    {% endif %}

                                                    {% for i in pdfListNew.paginator.page_range %}
                                                        {% if pdfListNew.number == i %}
                                                            <li class="page-item active" aria-current="page">
                                                        <span class="page-link">
                                                            {{ i }}
                                                            <span class="sr-only">(current)</span>
                                                        </span>
                                                        </li>
                                                        {% elif i > pdfListNew.number|add:'-5' and i < pdfListNew.number|add:'5' %}
                                                            <li class="page-item"><a class="page-link" href="?pageNew={{ i }}">{{ i }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if pdfListNew.paginator.num_pages > pdfListNew.number|add:'4' %}
                                                        <li class="page-item"><a class="page-link" href="?pageNew={{ pdfListNew.number|add:'5' }}">&hellip;</a></li>
                                                    {% endif %}

                                                    {% if pdfListNew.has_next %}
                                                    <li class="page-item">
                                                    <a class="page-link" href="?pageNew={{ pdfListNew.next_page_number }}">Next</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="+1">Next</a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div> -->
                        {% endif %}
                        {% include 'adminbase/footer.html' %}
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

{% endblock mainContent %}


{% block mainContentUser %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Documents Assigned To You</h2>
                                <div class="au-card au-card--bg-c3 au-card-top-countries m-b-40">
                                    <div class="au-card-inner">
                                        {% if btndisable %}<span style="color: red;font-weight: 600;">*Your daily download limit is over.</span>{% endif %}
                                        <div class="table-responsive">
                                            <table class="table table-top-countries" id="tableID">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Document Number</th>
                                                        <th>Print</th>
                                                        <th>Print</th>
                                                        <th>Date/Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if pdfList %}
                                                    {% for share in pdfList %}
                                                        <tr>
                                                            <td style="color: grey;">{{forloop.counter}}</td>
                                                            

                                                            {% if cardData %}
                                                            {% for data in cardData %}
                                                                {% if share.document_id == data.id  %}
                                                                <td style="color: grey;">{{data.serial_number}}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% endif %}


                                                            {% if share.is_downloaded %}
                                                            <td style="color: grey;">
                                                                <a href="{% url 'change-download-status' %}?id={{share.id}}&type=with" target="_blank"><button class="btn btn-success" {{btndisable}}>Print with Background</button></a>
                                                            </td>
                                                            {% else %}
                                                            <td style="color: brown;">You already downloaded the file.</td>
                                                            {% endif %}

                                                            {% if share.is_downloaded %}
                                                            <td style="color: grey;">
                                                                <a href="{% url 'change-download-status' %}?id={{share.id}}&type=without" target="_blank"><button class="btn btn-success" {{btndisable}}>Print without Background</button></a>
                                                            </td>
                                                            {% else %}
                                                            <td style="color: brown;">You already downloaded the file.</td>
                                                            {% endif %}

                                                            <td style="color: grey;">{{share.created_at|date:'d-m-Y g:i A'}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>

                                        {% if pdfList.has_other_pages %}
                                        <hr style="padding-bottom: 4px; background-color: brown;" />
                                        <div class="page" style="margin-right: 20px;">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-end">
                                                    {% if not pdfList.has_previous %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ pdfList.previous_page_number }}" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% endif %}
                                                    {% for i in pdfList.paginator.page_range %}
                                                    {% if pdfList.number == i %}
                                                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                                    {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% if pdfList.has_next %}
                                                    <li class="page-item">
                                                    <a class="page-link" href="?page={{ pdfList.next_page_number }}">Next</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="+1">Next</a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">New Documents Assigned To You</h2>
                                <div class="au-card au-card--bg-c3 au-card-top-countries m-b-40">
                                    <div class="au-card-inner">
                                        {% if btndisable %}<span style="color: red;font-weight: 600;">*Your daily download limit is over.</span>{% endif %}
                                        <div class="table-responsive">
                                            <table class="table table-top-countries" id="tableID">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Print</th>
                                                        <th>Date/Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if pdfListuser %}
                                                    {% for share in pdfListuser %}
                                                        <tr>
                                                            <td style="color: grey;">{{forloop.counter}}</td>


                                                            {% if share.is_downloaded %}
                                                            <td style="color: grey;">
                                                                <a href="{% url 'change-download-status-new' %}?id={{share.id}}" target="_blank"><button class="btn btn-success" {{btndisable}}>Print</button></a>
                                                            </td>
                                                            {% else %}
                                                            <td style="color: brown;">You already downloaded the file.</td>
                                                            {% endif %}

                                                            <td style="color: grey;">{{share.created_at|date:'d-m-Y g:i A'}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>

                                        {% if pdfList.has_other_pages %}
                                        <hr style="padding-bottom: 4px; background-color: brown;" />
                                        <div class="page" style="margin-right: 20px;">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-end">
                                                    {% if not pdfList.has_previous %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ pdfList.previous_page_number }}" tabindex="-1">Previous</a>
                                                    </li>
                                                    {% endif %}
                                                    {% for i in pdfList.paginator.page_range %}
                                                    {% if pdfList.number == i %}
                                                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                                    {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% if pdfList.has_next %}
                                                    <li class="page-item">
                                                    <a class="page-link" href="?page={{ pdfList.next_page_number }}">Next</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="+1">Next</a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div> -->
                        {% include 'adminbase/footer.html' %}
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

{% endblock mainContentUser %}



{% block custom_js %}

<!-- <script>
    $(document).ready(function () {

    });

    function downloadPDF() {

        $("#tempid").val($(this).find("td").eq(0).html());
        var docNo = document.getElementById('docNo').value;
        console.log(docNo)
        $.ajax({
            url: "{% url 'change-download-status' %}",
            type: 'POST',
            //dataType: 'json',
            data: { docNO:docNo }
        })
        .done(function (response) {
            console.log(response)
            if (response == 'True' || response == True) {
                // Refresh Page
                location.reload()
            }
            else {
                // Do something
            }
        })
    }
</script> -->



{% endblock custom_js %}